footer {
  clear: both;
  border-top: 1px solid #ddd;
  padding: 0.5em 2em;
  background-color: #ffffff;
  color: #797878;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-bottom: 5px solid #477dca;
  font-size: 14px;
  font-weight: 300;
}