footer {
  clear: both;
  border-top: 1px solid #ddd;
  padding: 0.5em 2em;
  background-color: #ffffff;
  color: #797878;
  width: 100%;
  bottom: 0;
  border-bottom: 5px solid #477dca;
  font-size: 14px;
  font-weight: 300;
}

.homepage-footer {
  position: relative;
  float: left;
  width: 100%;
}

.twitter-feed {

  position: absolute;
  z-index: 22;
  color: #ffffff;
  width: 65%;
  left: 32.5%;
  margin-left: -14.5%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);

  // @media (min-width: 768px) { 
  //   top: 50%;
  //   transform: translateY(-50%);
  // }

  p {
    font-size: 1.7rem;
  }

  .tweet {
    @include word-wrap;
  }

  .user,
  .interact {
    display: none;
  }

  .timePosted a {
    color: #ffffff;
    font-weight: 500;
  }

}

