// Header Global

header {
  position: fixed;
  top: 0;
  z-index: 5;
  transition: all 1s ease;

  .no-js & {
    position: absolute;
  }

  width: 100%;
  h1,
  h2 {
    margin: 0;
  }

  &.at-panel-two {
    background: rgb(255, 255, 255);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    .logo,
    .menu-toggle {
      background: rgb(102, 153, 204);
    }
    .description {
      color: #333;
    }
  }
  @media (max-width: 400px) {
    .main-navigation {
      height: 68px;
    }
  }
}

// Branding

.home-link {
  position: absolute;
}

.logo {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  line-height: inherit;

  padding: 2px 8px;

  text-transform: uppercase;

  color: #fff;
  border: 1px solid rgba(255, 255, 255, .6);
  border-radius: .1em;
  background: rgba(0, 0, 0, .1);
  @media (min-width: 500px) {
    font-size: 2em;
  }
}


.description {
  font-size: 13px;
  font-weight: 100;

  margin: .3em 0 0 .6em;

  text-transform: uppercase;

  color: rgba(255, 255, 255, .9);
  @media (min-width: 500px) {
    font-size: 17px;
  }
}

.m,
.c {
  letter-spacing: -6px;
}

.m,
.ischa,
.mischa {
  font-weight: 700;
}

.c,
.olley,
.colley {
  font-weight: 300;
}

.logo .ischa {
  padding-right: .3em;
}

header .btn {
  position: absolute;
  top: 2em; 
  right: 2em;
}

a.btn-filled {
  background: #fff;
}

/* Navigation */

.menu-primary-menu-container {
  position: relative;
  top: .8em;

  float: right;

  transition: visibility 0s linear .5s, opacity .5s linear;
  .js & {
    visibility: hidden;

    opacity: 0;
  }
}

.menu-toggled .menu-primary-menu-container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  visibility: visible;

  width: 100%;
  height: 100%;

  transition-delay: 0s;

  opacity: 1;
  background: rgba(102, 153, 204, .9);
  .menu {
    position: relative;
    top: 50%;

    display: block;

    transform: translateY(-50%);
    text-align: center;
  }
  ul li {
    font-size: 2.5em;

    float: none;
  }
}

body.index.menu-toggled .menu-toggle {
  position: relative;
  z-index: 2;
  i {
    position: inherit;
    top: -2px;
  }
}

nav ul li {
  float: left;

  margin: 0 1em; 

  list-style: none;

  text-align: center;
}

nav ul li a {
  color: #fff;
}

.main-navigation {
  display: inline-block;

  width: 100%;
  padding: 1em 1em .7em 1em;

  .no-js & {
    padding: 1em 1em 2.5em 1em;
  }
  
}

// Small Nav

.blog,
.work,
.projects,
.labs,
.at-panel-two {
  header {
    background: rgba(102, 153, 204, 1);
    @media (max-width: 400px) {
      .main-navigation {
        height: 68px;
      }
    }
  }
  .logo {
    display: inline-block;

    padding-right: 12px;
    .ischa,
    .olley {
      display: none;
    }
  }
  .description {
    position: absolute;
    top: 2px;
    left: 60px;
  }
}

// Temporary
.menu-blog a,
.menu-work a,
.menu-projects a {
  text-decoration: line-through;

  opacity: .5;
}

// TODO: Move to buttons or something
.btn {
  font-size: 3vh;

  padding: .5em 1em;

  text-align: center;

  border: 1px solid #eee;
}

.menu-toggle {
  display: none;

  .js & {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    font-weight: 100;

    display: inline-block;
    float: right;

    box-sizing: border-box;
    padding: 6px 8px;

    transition: all ease .3s;
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: .1em;
    background: rgba(0, 0, 0, .2);
    @media (min-width: 500px) {
      font-size: 2em;

      background: rgba(0, 0, 0, .1);
    }
  }
}
