body.blog,
body.projects,
body.work {

  main {
    margin-top: 75px;
  }

  .section-desc {
    text-align: center;
    margin: -2.9em 0 3em 0;
    font-size: 1.3em;
    font-weight: 300;
  }

  section > h1 {
    text-align: center;
    font-size: 2rem;
    color: #000000;
    padding: 1em 2em;
  }

  section > article {

    background-color: #ffffff;
    border: 1px solid #ddd;

    .post-heading {

      padding: 1em;
      text-align: center;

      h1 {
        margin: 0;
        font-size: 2rem;
        color: #333;
      }

    }
    
    .article-inner {
      padding: 4% 8%;
    }

  }

  .articles,
  section > article {

    width: 100%;
    margin: 0 auto;

    @include media($lg) {
      width: 80%;
    }

    @include media($xl) {
      width: 70%;
    }

  }

  article {

    background-color: #ffffff;
    border: 1px solid #ddd;
    margin-bottom: 2rem;

    .post-heading {

      padding: 1em;
      text-align: center;

      h1 {
        margin: 0;
        font-size: 2rem;
        color: #333;
      }

    }

    > img {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    }

    .article-inner {
      padding: 4% 8%;
    }

  }

  aside {
    
    @include span-columns(12);

    @include media($lg) {
      @include span-columns(5);
    }

    @include media($xl) {
      @include span-columns(4);
    }

    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 30px;

  }

}