.index {

  p {
    font-family: "open-sans",sans-serif;
    font-weight: 300; 
  }

  // Section Titles

  .section-title  {

    clear: both;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #333;
    padding: 0;
    padding: 2em 1em;

    h2 {
      color: #ffffff;
      font-size: 1.5em;
      text-align: center;
      border: 1px solid;
      display: block;
      margin: 0 auto;
      padding: 0.5em;
      width: 100%;
      background: rgba(0, 0, 0, 0.1);

      @media (min-width: 600px) { 
        width: 20%;
      }

    }

  }

  article {

    padding: 15px;
    @include outer-container;
    float: left;
    width: 100%;

    @media (min-width: 769px) {
      width: 50%;
      padding: 30px;
    }

  }

  .panel {

    background-color: #ffffff;
    display: inline-block;

    h1 {
      position: absolute;
      background-color: rgba(255,255,255,0.9);
      padding: 10px 15px;
      margin: 15px;
    }

    .post-meta {
      display: inline-block;
      width: 100%;
      background-color: #eee;
      padding: 0.75em;
    }

    .post-meta ul {
      float: right;
    }

    .post-meta ul li {
      display: inline;
    }

    .summary {
      margin: 0.75em;
    }

  }

  a.read-more {
    padding: 8px 15px;
    color: #ffffff;
    background-color: #6699CC;
    float: right;
  }

}

