.index {

  .intro {

    height: 80vh; 
    background: url(image-path('bg-intro.jpg'));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;  
    padding: 0; 

    @media (min-width: 1190px) { 
      background-position: center -372px;
    }

  }

}