.index {

  .intro {

    height: 100vh; 
    background: url(image-path('bg-intro.jpg'));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 0; 

    .scroll-down {
      display: block;
      position: absolute;
      z-index: 100;
      bottom: 45px;
      left: 50%;
      margin-left: -16px;
      width: 34px;
      height: 34px;
      font-size: 34px;
      text-align: center;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.7);
      transform: rotate(-90deg);
      animation: bounce 4s 2s infinite; 
    }

    .icon-arrow-left:before {
      content: "\f605"; 
    }

  }

}