.index {

  .about-summary {

    height: auto;
    float: left; 
    padding: 30px;

    img {
      margin: 1em auto;
      display: block; 
      border-radius: 50%;
      border: 1px solid #eee;
    }

    .about-copy-intro p {
      font-size: 25px;
      line-height: 35px;
    }

    .about-copy-intro p:nth-child(1) {
      font-size: 35px;
      line-height: 45px; 
    }

    @media (min-width: 960px) {

      .about-copy-intro {
        width: 75%;
        float: right;
        padding: 1em; 
      }

      .profile-shot {
        width: 25%;
        float: left;
        padding-left: 0.83333%;
        padding-right: 0.83333%;
        padding: 1em; 
      } 

    }

  }

  // About Detail

  .about-detail {

    .section-title {
      background-image: url(image-path('section-title-1.jpg'));
    }

    .about-detail-inner {
      padding: 30px;
    }

    .box-container {
      @include outer-container;
      padding: 30px 0;
    }

    .box {

      border: 1px solid #eee;
      padding: 1em;
      @include span-columns(12);
      background-color: #ffffff;

      @media (min-width: 768px) {
        @include span-columns(4);
      }

      h3 {
        text-align: center;
      }

    }

    .box button.cta {
      margin: 0 auto;
      display: block;

      a {
        color: #ffffff;
      }
      &:hover a {
        color: #6699CC;
      }
    }

    .intro-text {
      text-align: center;
      width: 80%;
      margin: 0 auto;
      font-size: 35px;
      line-height: 45px;
      clear: both;
    }

  }

}