.index {

  .employment-status {
    font-size: 18px;

    @media (max-width: 660px) {
      float: left;
      clear: both;
      margin: 1.5rem 0;
    }

    @media (min-width: 661px) { 
      position: relative;
      top: 5px;
    }
    
  }

  .about-summary {

    height: auto;
    float: left; 
    padding: 30px;

    img {
      margin: 1em auto;
      display: block; 
      border-radius: 50%;
      border: 1px solid #eee;
      @media (min-width: 550px) and (max-width: 960px) { 
        max-width: 50%;
      }

    }

    .about-copy-intro {
      display: inline-block;
    }

    .about-copy-intro p {
      font-size: 25px;
      line-height: 35px;
    }

    .about-copy-intro p:nth-child(1) {
      font-size: 35px;
      line-height: 45px; 
    }

    @media (min-width: 960px) {

      .about-copy-intro {
        width: 75%;
        float: right;
        padding: 1em; 
      }

      .profile-shot {
        width: 25%;
        float: left;
        padding-left: 0.83333%;
        padding-right: 0.83333%;
        padding: 1em; 
      } 

    }

    .about-copy-intro .cta-container {
      float: left;
      margin-right: 2%;
    }  

  }

  // About Detail

  .about-detail {

    .section-title {
      background-image: url(image-path('section-title-1.jpg'));
    }

    .about-detail-inner {
      padding: 30px 15px;
      @media (min-width: 768px) { 
        padding: 60px 30px;
      }
    }

    .box-container {
      @include outer-container;
      padding: 60px 0;
    }

    .box {

      @include span-columns(12);

      @media (min-width: 768px) {
        @include span-columns(6);
      }

      p {
        background-color: #ffffff;
        border: 1px solid #eee;
        padding: 1em;
        font-size: 1.27rem;
        @media (min-width: 768px) {
          font-size: 1.37rem;
        }
      }

      h3 {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 1rem;
      }

    }

    .box .cta {
      width: 100%;
      padding: 15px;
      display: block;
      text-align: center;
      font-weight: 600;

      a {
        color: #ffffff;
      }
      &:hover {
        color: #6699CC;
      }
    }

    .box .cta.ec {
      background-color: #90132f;
      &:hover {
        background-color: #ffffff;
      }
      &:hover {
        color: #90132f;
      }
    }

    .intro-text {
      text-align: center;
      width: 80%;
      margin: 0 auto;
      font-size: 35px;
      line-height: 45px;
      clear: both;
    }

  }

}