html {
  overflow-y: scroll;
}

body {
  background: url(image-path('subtle_dots.png')) #ffffff;
  background-repeat: repeat;
  overflow: hidden;
}

/* Global */
.wrapper {
  margin: 0 auto;
  max-width: 1920px;
}

main {
  max-width: 1920px;
  margin: 130px auto 0 auto;

  padding: 1em;

  @media (min-width: 768px) { 
    padding: 2em;
  }

}

.index main {
  padding: 0;
  margin-top: 0;
}

.panel {
  border: 1px solid #eee;
  position: relative;
  padding: 1rem;
  @media (min-width: 768px) { 
    padding: 2em;
  }

}

img {
  max-width: 100%; 
}

