body {
  background: url(image-path('subtle_dots.png')) #ffffff;
  background-repeat: repeat;
}

/* Global */
.wrapper {
  margin: 0 auto;
  max-width: 1920px;
}

main {
  margin-top: 130px;
  padding: 2em;
}

.index main {
  padding: 0;
  margin-top: 0;
}

.panel {
  height: 100%;
  background: #ffffff;
  padding: 2em;
  background: url(image-path('subtle_dots.png'));
  background-repeat: repeat;
}


img {
  max-width: 100%; 
}

