.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none; 
}

.netengine {
  color: #06a8f9; 
}

.orangedigital {
  color: #ff4819; 
}

.bnm {
  color: #ff8200;
}

.byronweb {
  color: #0095CB;
}

.wordpress {
  color: #21759b; 
}

.drupal {
  color: #0678be; 
}

.exposecreative {
  color: #DC1D48; 
}

.coronis {
  color: #fdd01e;
}

.bwired {
  color: #FA051E;
}
