%footer#contact
  .copyright Copyright Mischa Colley 2015
  .nav
    %ul
      %li 
        %a{:href => "mailto:me@mischacolley.com.au"}
          %i.fa.fa-envelope-o
          me@mischacolley.com.au
      %li 
        %a{:href => "tel:+61417906042"}
          %i.fa.fa-mobile
          +61 417 906 042
      %li 
        %a{:href => "https://twitter.com/mischacolley"}
          %i.fa.fa-twitter 
      %li 
        %a{:href => "https://github.com/mischacolley"}
          %i.fa.fa-github