%header
  = partial "partials/contact"
  %nav.main-navigation{:role => "navigation"}
    %a.home-link{:href => "/"}
      %h1.logo
        %span.m M
        %span.ischa ischa
        %span.c C
        %span.olley olley
      %h2.description Front-End Developer
    
    %button.menu-toggle 
      %i.fa.fa-bars
    .menu-primary-menu-container
      %ul#menu-primary-menu.menu
        %li
          %a.about-link.anchor{:href => "#about"} About
        %li
          %a.anchor{:href => "https://www.linkedin.com/in/mischacolley", :rel => "no-follow ", :target => "_blank", :title => "LinkedIn Profile"} Resume
        %li
          %a.contact{:href => "#contact"} Contact