:kramdown
  Hi I’m **Mischa Colley**. I'm a **Front-End Developer** from the **Northern Rivers** region of **NSW, Australia**. I call **Byron Bay** home.

  I’ve been building for the web since **2006**. In that time I’ve worked for agencies such as [Netengine](http://www.netengine.com.au){:target="_blank"}, [Orange Digital](http://www.orangedigital.com.au){:target="_blank"} and [Brand New Media](http://www.brandnewmedia.com.au){:target="_blank"} along with my own clients through [Exposé Creative](http://www.exposecreative.com){:target="_blank"}. I'm currently looking for new employment opportunities.