---
title: Mischa Colley
---

%header
  %nav.main-navigation{:role => "navigation"}
    %a{:href => "/"}
      %h1.logo
        %span.m M
        %span.ischa ischa
        %span.c C
        %span.olley olley
      %h2.description Front-End Developer
    %nav.main-navigation{:role => "navigation"}
      %a{:href => "/"}
        %h1.logo
          %span.m M
          %span.ischa ischa
          %span.c C
          %span.olley olley
        %h2.description Front-End Developer
      %button.menu-toggle Menu
      .menu-primary-menu-container
        %ul#menu-primary-menu.menu
          %li
            %a{:href => "#about"} About
          %li
            %a{:href => "/", :title => "Blog – Coming Soon"} Blog
          %li
            %a{:href => "/", :title => "Work – Coming Soon"} Work
          %li
            %a{:href => "/", :title => "Projects – Coming Soon"} Projects
          %li
            %a{:href => "https://www.linkedin.com/in/mischacolley", :rel => "no-follow ", :target => "_blank", :title => "LinkedIn Profile"} Resume
          %li
            %a{:href => "#contact"} Contact
%section.panel.intro
  %a.scroll-down.icon-arrow-left{"data-offset" => "-45", :href => "#about"}
    %span.hidden Scroll Down
%section#about.panel.about
  %article
    .about-copy-intro
      = partial "intro"

    .call-to-action-container
      %button.call-to-action.menu-contact.highlight Talk to Me
  %aside
    = tag :img, :src => "/assets/images/profile-shot.jpg"
%section#what-i-do.panel.what-i-do
  %article
    = partial "what_i_do"
%section#about.panel.about
  %article
    %p As a Front-End Developer I write markup, styles and a bit of behavior. This means I author HTML, CSS and JavaScript. But so does everyone else right? At least a little bit.

    %p The difference is I specialise in it. 
    %p I work with designs to bring their designs to life in the browser and developers and programmers to 

.instagram
  #instafeed