// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;
$body-font-family: "open-sans",sans-serif;

// Font Sizes
$base-font-size: rem(16);

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #6699CC;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$white: #ffffff;

// Font Colors
$base-background-color: $white;
$base-font-color: $dark-gray;
$action-color: $blue;

$brand-primary: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Breakpoints

$xs: 17em;
$sm: 34em;
$md: 48em;
$lg: 62em;
$xl: 75em;

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

