.latest-posts {

  .section-title  {
    // TODO: Remove !important. Shouldn't need this.
    background-color: $white !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    h2 {
      // TODO: Remove !important. Shouldn't need this.
      background: #333 !important;
    }
    
  }
  
}

