.contact-details {

  background-color: #ffffff;
  display: none;
  position: relative;
  z-index: 6;

  &.show-contacts {
    display: block;
  }

  ul li {
    display: inline-block;
    padding: 1em;
  }

  .contact-toggle {
    right: 31px;
    z-index: 5;
    position: absolute;
    top: 15px;
    font-size: 22px;
    color: #333;
    cursor: pointer;
  }

}